body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

ul{
    list-style-type: none;
}

.tittleMalverso {
    color: #000;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 15px;
}

.hrMalverso {
	border-top: 1px solid rgb(202, 202, 202);
}

.icon1{
    width: 105px;
    height: 72.88px;
}

.icon2{
    width: 87.5px;
    height: 64.38px;
}

.icon3 {
    width: 87.52px;
    height: 87.5px;
}